.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-homepage {
    width: 100%;
    height: 1424px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(157, 174, 207, 1);
  }
  .home-signup {
    gap: 51px;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(157, 174, 207, 1);
  }
  .home-header {
    width: 1450px;
    height: 298px;
  }
  .home-body {
    width: 1240px;
    height: 822px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-text {
    top: 77px;
    left: 359px;
    color: rgba(0, 0, 0, 1);
    width: 320px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: SeoulNamsan CB;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame1 {
    top: 175px;
    left: 0px;
    width: 385px;
    height: 51px;
    display: flex;
    opacity: 0.30;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
  }
  .home-text02 {
    top: 146px;
    left: 11px;
    color: rgba(0, 0, 0, 1);
    width: 176px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame3 {
    top: 295px;
    left: 0px;
    width: 385px;
    height: 51px;
    display: flex;
    opacity: 0.30;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
  }
  .home-text04 {
    top: 266px;
    color: rgba(0, 0, 0, 1);
    width: 176px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame5 {
    top: 415px;
    left: 0px;
    width: 385px;
    height: 51px;
    display: flex;
    opacity: 0.30;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
  }
  .home-text06 {
    top: 386px;
    left: 11px;
    color: rgba(0, 0, 0, 1);
    width: 176px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame6 {
    top: 415px;
    left: 654px;
    width: 374px;
    height: 51px;
    display: flex;
    opacity: 0.30;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
  }
  .home-text08 {
    top: 386px;
    left: 654px;
    color: rgba(0, 0, 0, 1);
    width: 254px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame4 {
    top: 295px;
    left: 654px;
    width: 374px;
    height: 51px;
    display: flex;
    opacity: 0.30;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
  }
  .home-text10 {
    top: 262px;
    left: 657px;
    color: rgba(0, 0, 0, 1);
    width: 176px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame2 {
    top: 175px;
    left: 654px;
    width: 374px;
    height: 51px;
    display: flex;
    opacity: 0.30;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
  }
  .home-text12 {
    top: 146px;
    left: 654px;
    color: rgba(0, 0, 0, 1);
    width: 176px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text14 {
    top: 518px;
    left: 410px;
    color: rgba(0, 0, 0, 1);
    width: 244px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: Saira Stencil One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text16 {
    top: 655px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Sahitya;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-rectangle4 {
    top: 516px;
    left: 375px;
    width: 322px;
    height: 97px;
    position: absolute;
  }
  .home-socials {
    top: 758px;
    left: 1038px;
    width: 192px;
    height: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-instagram {
    top: 0px;
    left: 131px;
    width: 61px;
    height: 64px;
    position: absolute;
  }
  .home-linkedin {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    position: absolute;
  }
  .home-facebook {
    top: 7px;
    left: 71px;
    width: 61px;
    height: 55px;
    position: absolute;
  }
  .home-text18 {
    left: 311px;
    color: rgba(0, 0, 0, 1);
    width: 466px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Send Flowers;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text20 {
    top: 708px;
    left: 1038px;
    color: rgba(0, 0, 0, 1);
    width: 202px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-footer {
    width: 1448px;
    height: 184px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle2 {
    top: 0px;
    left: 0px;
    width: 1448px;
    height: 180px;
    position: absolute;
  }
  .home-text25 {
    top: 92px;
    left: 560px;
    color: rgba(255, 255, 255, 1);
    width: 328px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text27 {
    top: 62.29166793823242px;
    left: 1099px;
    color: rgba(255, 255, 255, 1);
    width: 329px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text28 {
    font-weight: 400;
  }
  .home-text32 {
    font-weight: 300;
  }
  .home-text36 {
    font-weight: 400;
  }
  .home-text37 {
    font-weight: 300;
  }
  .home-text41 {
    font-weight: 400;
  }
  .home-text43 {
    top: 117.875px;
    left: 49px;
    color: rgba(255, 255, 255, 1);
    width: 279px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Lily Script One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  